* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, "Segoe UI", Arial, sans-serif;
  background: #071124;
}

#root {
  min-height: 100vh;
}

img {
  display: block;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}
